# ================== OS ==================
.DS_Store

# ================== ENV =================
.env
.venv/
venv/
env/
ENV/

# ================== PYTHON ==============
__pycache__/
*.py[cod]
*$py.class
*.so

# ================== DJANGO ==============
db.sqlite3
db.sqlite3-journal

# Media & user uploads (S3 / local dev)
media/
announcement_images/
staticfiles/

# Logs
*.log

# ================== IDE =================
.idea/
.vscode/
*.swp

# ================== TEST / CACHE ========
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# ================== BUILD ===============
build/
dist/
*.egg-info/

# ================== Jupyter ============
.ipynb_checkpoints
