<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body style="font-family: Arial, sans-serif;">

<!-- Russian Content -->
<div style="text-align: left;">
    <div style="width: 700px; margin: 0 auto;">
        <h2>Здравствуйте!</h2>
        <p>Приглашаем принять участие в новогоднем конкурсе на платформе Bazaar и выиграть сертификаты в CENTRAL. Призовой фонд 40,000 ฿!</p>
            <img style="width: 700px" src="https://bazaarthaikand.s3.amazonaws.com/banner_image/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_btn_rus_one_1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAWJHLZD3H2F7HWJNT%2F20231223%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20231223T104438Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=0919a090e85c14d3695179c6ca881f9907c866afdc4cb58ad929f04d40496910" alt="">
        <p>Условия участия читайте здесь
            <a href="https://bazaarorigin.com/bazaar/contest">https://bazaarorigin.com/bazaar/contest</a>
        </p>
        <h4>С уважением,<br>Команда Bazaar.</h4>
    </div>
</div>

<!-- English Content -->
<div style="text-align: left;">
    <div style="width: 700px; margin: 0 auto;">
        <h2>Hello!</h2>
        <p>We invite you to participate in our New Year's contest on the Bazaar platform and win gift cards at CENTRAL. The prize pool is 40,000 ฿!</p>
            <img style="width: 700px" src="https://bazaarthaikand.s3.amazonaws.com/banner_image/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_btn_eng_one_1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAWJHLZD3H2F7HWJNT%2F20231223%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Date=20231223T104438Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b83f55ac6e187dd82940d8758e4bf10ae6b4c5572e47de7db212df005a3aa46e" alt="">
        <p>Read the participation conditions here
            <a href="https://bazaarorigin.com/bazaar/contest">https://bazaarorigin.com/bazaar/contest</a>
        </p>
        <h4>Best regards,<br>
            The Bazaar Team.</h4>
    </div>
</div>

</body>
</html>