<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
    </style>
</head>
<body>

<!-- Russian Content -->
<div class="email-container russian-content">
    <h2>Поступила жалоба</h2>
    <p>Уважаемый модератор,</p>
    <p>Уведомляем вас о том, что на платформе Bazaar была подана жалоба. Просим вас провести проверку соответствующего
        материала в течение ближайших 30 минут.</p>
    <p><a href="https://bazaarorigin.com/moderator/complaints">Проверить жалобу</a></p>
    <p>Благодарим за ваше внимание к данному вопросу и оперативное реагирование.</p>
    <h3>С уважением, Команда Bazaar.</h3>
</div>

<!-- English Content -->
<div class="email-container english-content">
    <h2>A complaint has been received</h2>
    <p>Dear Moderator,</p>
    <p>We would like to inform you that a complaint has been filed on the Bazaar platform. We request that you conduct a
        review of the relevant material within the next 30 minutes.</p>
    <p><a href="https://bazaarorigin.com/moderator/complaints">Check the complaint</a></p>
    <p>Thank you for your attention to this matter and for your prompt response.</p>
    <h3>Sincerely, The Bazaar Team.</h3>
</div>

</body>
</html>